{
    "socket": {
        "port": 8888,
        "host": "http://10.10.10.10/store"
    },
    "magento": {
        "host": "http://10.10.10.11",
        "store": 0
    },
    "api": {
        "host": "http://10.10.10.10/api/public",
        "catalogProvider": "magento",
        "checkoutProvider": "magento",
        "customerProvider": "magento"
    }
}
